# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Environment
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.spec